body{
    background-color: lightgoldenrodyellow;
    text-transform: capitalize;
    text-decoration: solid;
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 40px;
}
div p:first-child{
    background-color: yellow;
    color: red;
    
}

div p:not(:first-child){
    background-color: blue;
    color: white;
}